.banner{
    background-image: url('https://avatars.mds.yandex.net/get-verba/3587101/2a0000017d8623b296bb5cd0810e0a2fbfc1/cattouchret');
    height: 100vh;
    background-size: cover;
    background-position: center;
}