
@media screen and (max-width: 1200px) {
    .container{
        max-width: 1140px;
    }
    
}

@media screen and (max-width: 992px) {
    .container{
        max-width: 960px;
    }
    
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 720px;
    }
    .col-6{
    width: 50%;
    }
    
}

@media screen and (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .banner{
        margin-top: 137px;
        height: 300px;
    }
    .col-6{
        width: 100%;
        }
        .row{
            justify-content: center;
        }
        form{
            margin-top: 50px;
        }
    
}
