* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  padding: 0 15px;
  width: 50%;
}

.header {
  background-color: #252525;
  padding: 30px 0;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
}
.header__logo {
  color: #fafafa;
  text-transform: uppercase;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  column-gap: 50px;
}
.header__menu-link {
  list-style: none;
}
.header__menu-link a {
  text-decoration: none;
  font-size: 20px;
  color: #fafafa;
}

.mobile-btn {
  display: none;
}

.banner {
  background-image: url("https://avatars.mds.yandex.net/get-verba/3587101/2a0000017d8623b296bb5cd0810e0a2fbfc1/cattouchret");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.slider {
  padding-top: 100px;
}
.slider__title {
  margin-bottom: 50px;
}

.gallery {
  padding-top: 100px;
}
.gallery__title {
  margin-bottom: 50px;
}
.gallery__card {
  padding: 20px;
  border-bottom: 1px solid Black;
  margin-top: 10px;
}
.gallery__card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.contact {
  margin-top: 100px;
}
.contact__title {
  margin-bottom: 50px;
}
.contact__list {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.contact__list-items a {
  text-decoration: none;
  color: #252525;
}
.contact__form {
  border: 1px solid #252525;
  border-radius: 20px;
  padding: 20px;
}
.contact__form-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #252525;
  outline: none;
}
.contact__form-btn {
  color: #252525;
  background-color: transparent;
  border: 1px solid #fafafa;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.contact__form-btn:hover {
  color: #fafafa;
  background-color: #252525;
  border: 1px solid #252525;
}

footer {
  background-color: #252525;
  padding: 50px 0;
  margin-top: 50px;
}
footer p {
  color: #fafafa;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .col-6 {
    width: 50%;
  }
  .gallery__card-img {
    height: 250px;
  }
  .contact__list {
    margin-bottom: 50px;
  }
  .mobile-btn {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 70px;
    height: 50px;
    cursor: pointer;
  }
  .mobile-btn span,
  .mobile-btn span::before,
  .mobile-btn span::after {
    content: "";
    display: block;
    background-color: #fafafa;
    height: 5px;
    position: absolute;
    width: 100%;
  }
  .header__logo {
    z-index: 5;
  }
  .mobile-btn span::after {
    bottom: -15px;
  }
  .mobile-btn span::before {
    top: -15px;
  }
  .header::before {
    content: "";
    background-color: #252525;
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__menu {
    position: absolute;
    left: 0;
    background-color: #252525;
    top: 0;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    z-index: 1;
    transition: 0.7s;
  }
  .header__menu-show {
    z-index: 6;
    top: 85px;
    border-top: 1px solid #fafafa;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .banner {
    margin-top: 137px;
    height: 300px;
  }
  .col-6 {
    width: 100%;
  }
  .row {
    justify-content: center;
  }
  form {
    margin-top: 50px;
  }
  .header__menu {
    column-gap: 25px;
  }
}

/*# sourceMappingURL=19less.css.map */
